.button {
  width: 100%;
  &_wrapper {
    padding: 16px 16px;
  }
}
.pig_wrapper{
  padding: 120px 0;
  > .pig {
    width: 128px;
    height: 128px;
  }
}

.navIcon {
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
}
