* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

a{
  color: inherit;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

button,input{
  font: inherit;
  text-decoration: none;
}